<div class="grid">
    <div class="col-4">

        <mat-card>
            <!--ENCABEZADO-->
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>person</mat-icon> Alumno
                </mat-card-title>
            </mat-card-header>

            <!--CONTENIDO-->
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nostrum eius necessitatibus incidunt
                quae molestias natus veniam numquam eveniet fugit ullam, dolor odit eligendi? Quasi commodi asperiores,
                culpa placeat facilis dolore repellat architecto ut ad modi odio nobis quibusdam, quia aliquam eligendi
                magnam ullam. Architecto dolor officia soluta veritatis vitae.
            </mat-card-content>
        </mat-card>
    </div>
</div>