<h1 appTitleSize>Alumnos</h1>

<button (click)="onCreateStudent()" mat-flat-button color="primary" type="button">
    <mat-icon>add</mat-icon>
    Agregar alumno
</button>

<table mat-table [dataSource]="data$" class="mat-elevation-z8">

    <!-- Columna ID de Alumno -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let student"> {{student.id}} </td>
    </ng-container>
    <!-- Columna Nombre de Alumno -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let student"> {{student.name}} </td>
    </ng-container>
    <!-- Columna Apellido de Alumno -->
    <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let student"> {{student.surname}} </td>
    </ng-container>
    <!-- Columna Año de nacimiento de Alumno -->
    <ng-container matColumnDef="birthYear">
        <th mat-header-cell *matHeaderCellDef> Año de Nacimiento </th>
        <td mat-cell *matCellDef="let student"> {{student.birthYear}} </td>
    </ng-container>
   <!-- Columna Acciones -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let student">

            <!-- Boton Visualizar -->
            <button [routerLink]="student.id" mat-icon-button color="primary">
                <mat-icon>visibility</mat-icon>
            </button>
            
            <!-- Boton Editar -->
            <button (click)="onEditStudent(student.id)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            
            <!-- Boton Borrar -->
            <button (click)="onDeleteStudent(student.id)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


