<h1 appTitleSize>Curso</h1>

<button routerLink=".." mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
</button>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> ID: {{courseId}} Nombre: {{ course?.name }} </mat-card-title>
        <mat-card-subtitle>Categoria: {{ course?.categoryId }}</mat-card-subtitle>
        <img mat-card-md-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPZyEpd0ZyKQYuSV4QKdoUPo-mHEtBW4fsVw&usqp=CAU"  alt="Default course picture">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
     Descripcion {{ course?.description }}
    </mat-card-content>
  </mat-card>